# Dependencies
node_modules/

# Build output
dist/
build/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Executables
*.exe
